<h2>Smart Table</h2>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
   	    <div class="table-container">
          <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
            <tr>
              <th>hour</th>
              <th>sales</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in displayedCollection">
              <td>{{row.hour}}</td>
              <td>{{row.sales}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>      
    </div>
  </div>
</div>