<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
   	    <div class="form-group">
          <label for="url">Endpoint URL:</label>
          <input type="text" class="form-control" id="url" placeholder="http://localhost:15674/stomp" ng-model="model.url">
          <label for="usr">User:</label>
          <input type="text" class="form-control" id="usr" ng-model="model.usr">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" ng-model="model.pwd">
		    </div>
        <div class="form-group">
          <button ng-click="connect()">Connect</button>
        </div>
      </div>      
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label for="queue">Sub Dest</label>
          <input type="text" class="form-control" id="subdest" placeholder='/topic/subdest' ng-model="model.subdest">
        </div>
        <div class="form-group">
          <button ng-click="subscribe()">Subscribe</button>
          <button ng-click="unsubscribe()">Unsubscribe</button>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label for="queue">Pub Dest</label>
          <input type="text" class="form-control" id="pubdest" placeholder='/topic/pubdest' ng-model="model.pubdest">
          <label for="body">Body</label>
          <textarea class="form-control" rows="2" id="payload" placeholder='{"key":"value"}' ng-model="model.payload"></textarea>
        </div>
        <div class="form-group">
          <button ng-click="send()">Send</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-container">
          <div ag-grid="gridOptions" class="ag-fresh" style="height: 800px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>